@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
   margin: 0;
   padding: 0;
   font-family: "Open Sans", sans-serif;
   box-sizing: border-box;
}


/* Hero Bg section styles */


.header-section {
    width: 1365px;
    height: 600px;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero_Container {
    width: 240.28px;
    height: 240px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.hero_text_section {
    width: 998px;
    height: 212px;
}

.hero_text_section,
.hero_h1 {
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.hero_text {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.btn {
    color: #fff;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;       
    line-height: 23px;
    margin-top: 32px;
    padding: 10px;
}

/* Why Web development section styles */

.development_section {
    width: 1140px;
    height: 1200px;
    margin-top: 250px;
}

.development_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
}

.development_text h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}


.development_text p{
    color: rgb(13, 19, 33);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;  
    margin-top: 24px;
}

.development_group_iteams{
    width: 946px;
   height: 1235px;
   margin-top: 84px;
}

.image_iteams{
    width: 850px;
height: 240px;
margin: 0 auto;
}

.image_1 {
    float: right;
}

.h_text {
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
}

.p_text {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: 16px;
}



.btn_l {
    box-sizing: border-box;
   border: 1px solid rgb(13, 19, 33);
   opacity: 0.7;
   padding: 10px;
   margin-top: 32px;
}

.image_2 {
    float: left;
}

.h3_text {
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
}

.phara_text {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: 16px;
}

.btn_x {
    box-sizing: border-box;
   border: 1px solid rgb(13, 19, 33);
   opacity: 0.7;
   padding: 10px;
   margin-top: 32px;
}

/* Inspiration section styles */

.inspiration_container {
    width: 1140px;
    height: 775px;
}

.inspiration_text h2 {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
text-align: center;
}

.inspiration_text p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 24px;
}

.videos {
    width: 1140px;
height: 614px;
margin-top: 48px;
align-items: center;
justify-content: center;
text-align: center;
display: flex;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
}

.Target_container {
    width: 1140px;
height: 460px;
border: 2px solid red;
margin-top: 151px;
}