@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
   margin: 0;
   padding: 0;
   font-family: "Open Sans", sans-serif;
   box-sizing: border-box;
}


/* Hero Bg section styles */


.header-section {
    width: 1365px;
    height: 600px;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero_Container {
    width: 240.28px;
    height: 240px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    margin-top: 150px;
}

.hero_text_section {
    width: 998px;
    height: 212px;
}

.hero_text_section,
.hero_h1 {
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    text-align: center;
    align-items: center;
    margin: 0 auto;
}

.hero_text {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
}

.btn {
    color: #fff;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;       
    line-height: 23px;
    margin-top: 32px;
    padding: 10px;
}

/* Why Web development section styles */

.development_section {
    width: 1140px;
    height: 1200px;
    margin-top: 250px;
}

.development_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px;
}

.development_text h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
}


.development_text p{
    color: rgb(13, 19, 33);
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;  
    margin-top: 24px;
}

.development_group_iteams{
    width: 946px;
   height: 1235px;
   margin-top: 84px;
}

.image_iteams{
    width: 850px;
height: 240px;
margin: 0 auto;
}

.image_1 {
    float: right;
}

.h_text {
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
}

.p_text {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: 16px;
}



.btn_l {
    box-sizing: border-box;
   border: 1px solid rgb(13, 19, 33);
   opacity: 0.7;
   padding: 10px;
   margin-top: 32px;
}

.image_2 {
    float: left;
}

.h3_text {
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
}

.phara_text {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-top: 16px;
}

.btn_x {
    box-sizing: border-box;
   border: 1px solid rgb(13, 19, 33);
   opacity: 0.7;
   padding: 10px;
   margin-top: 32px;
}

/* Inspiration section styles */

.inspiration_container {
    width: 1140px;
    height: 775px;
}

.inspiration_text h2 {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
text-align: center;
}

.inspiration_text p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 24px;
}

#videos {
    width: 1140px;
height: 614px;
margin-top: 48px;
align-items: center;
justify-content: center;
text-align: center;
display: flex;
box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.2);
border-radius: 16px;
}

.Target_container {
    width: 1140px;
height: 460px;
margin-top: 151px;
}

.Target_content h2 {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
letter-spacing: 0%;
text-align: center;
}

.Target_content p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 24px;
}

.target_contanier {
    display: flex;
    gap: 24px;
}
.images1_target {
    padding: 30px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    text-align: center;
    margin-top: 48px;
    justify-content: center;
    width: 90%;
}

.images2_target{
    padding: 30px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
    text-align: center;
    margin-top: 48px;
    justify-content: center;
    width: 90%;
}

.images3_target{
    padding: 30px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
    text-align: center;
    margin-top: 48px;
    justify-content: center;
    width: 90%;
}

.images1_target img {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 10px;
}

.images2_target img {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 10px;
}

.images3_target img {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-bottom: 10px;
}

.target_title{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
letter-spacing: 0%;
text-align: left;
}

.target_description {
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: left;
}

.buttons {
    text-align: left;
}

.taget_btn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    margin-top: 24px;
    border: none;
}

/* I need support section styles */

.support_container {
    width: 1140px;
    height: 313px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}


.support_container {
    width: 1200px;
   background-image: url(../assets/handshake.jpg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   border-radius: 16px;
    border-radius: 16px;
}

.support_content h2 {
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0%;
text-align: center;
margin-top: 64px;
}


.support_content p{
    color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
margin-top: 14px;
margin-bottom: 10px;
}
.container {
    margin-top: 100px;
    width: 1044px;
    height: 185px;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    border-radius: 50px;
    padding: 50px 70px;
}
.message_bar {
    width: 90%;
    margin: 0 auto;
    padding: 50px 70px;
}

.message_bar input {
    width: 80%;
    height: 50px;
    padding: 10px 100px;
    font-size: 13px;
    border: 1px solid grey;
    float: left;
    background: #f1f1f1;
}

.container button {
    width: 100px;
   height: 57px;
   padding: 8px ;
   color: rgb(0, 0, 0);
   font-size: 17px;
   border-radius: 8px;
   background: rgb(255, 255, 255);
   border: none;
   cursor: pointer;
}

/* footer section styles */

.footer_section {
    width: 1440px;
   height: 100px;
   margin-top: 80px;
   background: rgba(13, 19, 33, 0.03);
   border-radius: 16px;
}

.footer_content {
    display: flex;
    float: left;
    margin-top: 20px;
    position: static;
    width: 456px;
   height: 23px;
   color: rgb(13, 19, 33);
   font-family: Azeret Mono;
   font-size: 20px;
   font-weight: 600;
   line-height: 23px;
   letter-spacing: 0%;
   text-align: center;

}

.social_icons {  
   position: absolute;
   width: 1440px;
   height: 100px;
   margin-left: 430px;
   align-items: center;
   text-align: center;
   
}

#icons  {
   flex-direction: column;
   font-size: 30px;
   margin-top: 20px;
   
}
